﻿<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Stocko.com</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to STOCKO!</h1>
            </hgroup>
            <p>
                Stocko lets you build a community of share holders that you know and trust.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest you to:</h3>
        <ol class="round">
            <li class="one">
                <h5>Register</h5>
            </li>

            <li class="two">
                <h5>Create a Profile</h5>
            </li>
            <li class="three">
                <h5>And invite friends</h5>
            </li>
        </ol>
    </section>
</div>
